# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/

# Django
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# Environment
.env
.env.local

# Node
node_modules/
portfolio/static/portfolio/css/output.css

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
